 <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="well">
		<h1>Editing Review</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @review %> |
		<%= link_to 'Back', reviews_path %>
	  </div>
	</div>
</div>